@inject IProductService ProductService
@implements IDisposable

@if(ProductService.Products==null || ProductService.Products.Count==0)
{
    <span>@ProductService.Message</span>
}
else
{
    <section>
        <h1 class="opp c-2 d-flex justify-content-center my-5">Fırsat Ürünler</h1>
        <div class="products-wrapper">

            <div class="products-inner">
                @foreach(var prod in ProductService.Products)
                {
                    @if (prod.Featured)
                    {
                        <div class="product-box">
                        <div class="d-flex justify-content-between">
                        <span class="opp-text c-2">Fırsat</span>
                                @if (!string.IsNullOrEmpty(prod.ImageURL))
                                {
                                    <a href="Product/@prod.ID"><img class="product-img" src="@prod.ImageURL" alt=""></a>
                                }
                                else if (prod.Images.Count > 0)
                                {
                                    <a href="Product/@prod.ID"><img class="product-img" src="@prod.Images[0].Data" alt=""></a>
                                }
                        
                        <i class="fa-regular fa-star c-1 t-shadow-sm add-favorites" type="button"></i>
                    </div>
                    <span class="product-name c-2">
                        @prod.Title
                    </span>
                    <div class="d-flex justify-content-between mx-3 mt-3 mb-2">
                                @if (prod.Variants != null && prod.Variants.Count > 0)
                                {
                                    <span class="product-price c-2">
                                        <font class="c-1">Fiyat:</font> @prod.Variants[0].Price TL
                                    </span>
                                }
                    </div>
                </div>
                }
                }
            </div>

        </div>
    </section>
    <br />
    <div class="w-100 d-flex justify-content-center position-absolute">
        <a href="/all/1" class="all-category text-decoration-none">
            <img src="assets/images/icons/all-category.png" alt="">
            <span class="text-white ms-2 fs-1">Tüm Ürünler</span>
        </a>
    </div>
    <div class="allcate-wrapper"></div>
}



@code {
    protected override void OnInitialized()
    {
        ProductService.ProductsChanged += StateHasChanged;
    }
    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }

}
