@inject ICentreNumberService CentreNumberService
@inject IContactAboutService ContactAboutService
@inject IContactAddressService ContactAddressService

<div class="d-flex flex-column mb-4">
    <div class="d-flex align-items-center">
        <img class="me-2" src="assets/images/icons/list-ico.png" alt="">
        <span class="fs-4 c-2 fw-bold">Merkez</span>
    </div>
    <span class="text-dark fs-4 ms-52">Telefon:</span>
@*    @foreach (var item in CentreNumberService.CentreNumbers)
    {
        <span class="text-dark fs-4 ms-52">@item.Number</span>
    }*@
    <span class="text-dark fs-4 ms-52"></span>
</div>

@foreach (var item in ContactAboutService.ContactAbouts)
{
    <div class="d-flex flex-column mb-4">
        <span class="text-dark fs-4 ms-52">Adres:</span>
        <span class="text-dark fs-4 ms-52 mt-3">
            @item.Address
        </span>
        <span class="text-dark fs-4 ms-52 mt-3">
            Mail Adresi:<br>
            @item.Mail
        </span>
    </div>
}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.124274482287!2d28.97582999999999!3d41.022537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9e801a39aef%3A0x5c4a27d8c96e0abf!2zw4dlbWVuYXJkYWfDvGw!5e0!3m2!1str!2str!4v1675296989848!5m2!1str!2str"
        height="450" style="border:0;" class="mb-4" loading="lazy"></iframe>

        @foreach(var item in ContactAddressService.ContactAddresses)
        {
    <div class="d-flex flex-column mb-5">
        <div class="d-flex align-items-center">
            <img class="me-2" src="assets/images/icons/list-ico.png" alt="">
            <span class="fs-4 c-2 fw-bold">@item.Title</span>
        </div>
        <span class="c-2 fw-semibold fs-4 ms-52">Telefon:</span>
        <span class="text-dark fs-4 ms-52 mb-2">@item.Number</span>
        <span class="c-2 fw-semibold fs-4 ms-52">Adres:</span>
        <span class="text-dark fs-4 ms-52 mb-2">
            @item.Address
        </span>
        <span class="c-2 fw-semibold fs-4 ms-52">Mail Adresi:</span>
        <span class="text-dark fs-4 ms-52 mb-2">@item.Mail</span>
        <a href="@item.Location" class="btn-1 ms-52"><i class="fa-solid fa-location-dot"></i> Haritada Gör</a>
    </div>
        }

@code {

    protected override async Task OnInitializedAsync()
    {
        await CentreNumberService.GetCentreNumber();
        await ContactAboutService.GetContactAbout();
        await ContactAddressService.GetContactAddress();
    }
}
