@inject IProductService ProductService
@implements IDisposable
@inject ICategoryService CategoryService
@inject ICartService CartService
@inject IFavService FavService


@if (ProductService.Products == null || ProductService.Products.Count == 0)
{
        <section class="navigate-section">
            <div class="navigate">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center flex-wrap">
                        <a href="#!" class="fs-4 fw-semibold c-2 me-2 text-decoration-none">Anasayfa</a>
                        <img width="40" src="assets/images/icons/right-arrow.png" alt="">
                        <a href="#!" class="fs-4 fw-semibold c-2 mx-2 text-decoration-none">Ürünler</a>
                    </div>
                    <div class="fs-4 c-2 mt-2"></div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="c-2 d-flex align-items-center me-2">
                        <i class="fa-solid fa-share-nodes fs-4 me-2"></i>
                        <font class="fs-4 fw-semibold">Paylaş:</font>
                    </span>
                    <span class="d-flex align-items-center">
                        <a href="#!" class="me-2 c-2"><i class="fa-solid fa-envelope fs-4 pt-1"></i></a>
                        <a href="#!" class="me-2"><img height="31" src="assets/images/icons/wp-ico.png" alt=""></a>
                        <a href="#!"><img height="29" src="assets/images/icons/telegram-ico.png" alt=""></a>
                    </span>
                </div>
            </div>
        </section>
        <div class="vh-100 d-flex align-items-center justify-content-center gap-3">
            <div class="h5 spinner-border"></div>
            <div class="h2">Lütfen Bekleyin</div>
        </div>
}
else
{
        <section class="navigate-section">
            <div class="navigate">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center flex-wrap">
                        <a href="#!" class="fs-4 fw-semibold c-2 me-2 text-decoration-none">Anasayfa</a>
                        <img width="40" src="assets/images/icons/right-arrow.png" alt="">
                        <a href="#!" class="fs-4 fw-semibold c-2 mx-2 text-decoration-none">Ürünler</a>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="c-2 d-flex align-items-center me-2">
                        <i class="fa-solid fa-share-nodes fs-4 me-2"></i>
                        <font class="fs-4 fw-semibold">Paylaş:</font>
                    </span>
                    <span class="d-flex align-items-center">
                        <a href="#!" class="me-2 c-2"><i class="fa-solid fa-envelope fs-4 pt-1"></i></a>
                        <a href="#!" class="me-2"><img height="31" src="assets/images/icons/wp-ico.png" alt=""></a>
                        <a href="#!"><img height="29" src="assets/images/icons/telegram-ico.png" alt=""></a>
                    </span>
                </div>
            </div>
        </section>


    <section>
        <h1 class="opp c-2 d-flex justify-content-center my-5">Ürünler</h1>
        <div class="container py-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                @foreach (var item in ProductService.Products)
                {
                    <div class="col-md-3">
                        <div class="card" style="border-radius: 15px;">
                            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                         data-mdb-ripple-color="light">

                                @if (!string.IsNullOrEmpty(item.ImageURL))
                                {
                                    <a href="Product/@item.ID">
                                        <img src="@item.ImageURL"
                                 style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid" />
                                    </a>
                                }
                                else if (item.Images.Count > 0)
                                {
                                    <a href="Product/@item.ID">
                                        <img src="@item.Images[0].Data"
                                 style="border-top-left-radius: 15px; border-top-right-radius: 15px; display:block; width:200px; height:200px;" class="img-fluid" />
                                    </a>
                                }
                                else
                                {
                                    <a href="Product/@item.ID"><img class="product-img" src="~/assets/images/logo.png" alt=""></a>
                                }
                                <a href="#!">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p><a href="#!" class="text-dark">@item.Title</a></p>

                                    </div>
                                    <div>
                                        <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p class="small text-muted">Rated 4.0/5</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body pb-0">
                                <div class="d-flex justify-content-between">
                                    @if (item.Variants != null && item.Variants.Count > 0)
                                    {
                                        <s>@item.Variants[0].OriginalPrice TL</s>

                                        <strong class="ms-2 text-success">@item.Variants[0].Price TL</strong>
                                    }
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                    <button type="button" class="btn btn-primary"><i class="far fa-thumbs-up"></i>Favorilere ekle</button>
                                    <button type="button" class=" btn btn-primary"><i class="fas fa-cart-plus"></i>Sepete Ekle</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <!-- Add two more similar blocks here for a total of three -->
            </div>
        </div>
    </section>


        <br />


    for (var i = 1; i <= ProductService.PageCount; i++)
    {
                <a class="btn 
        @(i==ProductService.CurrentPage ? "btn-info":"btn-outline-info") page-selection" 
            href="/search/@ProductService.LastSearchText/@i">@i</a>
    }

}





@code {

 
    protected override void OnInitialized()
    {
        ProductService.ProductsChanged += StateHasChanged;
    }
    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }

    private string GetPriceText(Product item)
    {
        var variants = item.Variants;
        if (variants.Count == 0)
        {
            return string.Empty;
        }
        else if (variants.Count == 1)
        {
            return $"{variants[0].Price} TL";
        }
        decimal minPrice = variants.Min(v => v.Price);
        return $"{minPrice}TL'den başlayan fiyatlarla";
    }





}
