@page "/admin/editcat"
@page "/admin/editcat/{id:int}"
@inject IMainCategoryService MainCategoryService
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSruntime

<section class="mt-4">
    <div class="custom-c-wrapper d-flex flex-column">

        @if (loading)
        {
            <span>@msg</span>
        }
        else
        {
            @if (product.Editing)
            {
                <h3>Edit "@product.Name"</h3>
            }
            else if (product.IsNew)
            {
                <h2>Create a new category</h2>
            }

            <EditForm Model="product" OnValidSubmit="AddOrUpdateProduct">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="mb-0">
                    <label for="title">Name</label>
                    <InputText id="title" @bind-Value="product.Name" class="form-control"></InputText>
                </div>
                <div class="mb-0">
                    <label for="imageUrl">Image URL</label>
                    <InputText id="imageUrl" @bind-Value="product.ImageUrl" class="form-control"></InputText>
                </div>
                <div class="mb-0" style="display:flex; flex-wrap:wrap; flex-direction:row; justify-content:center; ">

                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" />
                    }
                    else
                    {
                        foreach (var item in product.Images)
                        {
                            <MudCard Class="ma-2">
                                <MudCardContent>
                                    <MudImage Src="@item.Data" />
                                </MudCardContent>
                                <MudCardActions Style="justify-content:center;">
                                    <MudButton Color="Color.Error" OnClick="@(()=>RemoveImage(item.Id))">Sil</MudButton>
                                </MudCardActions>
                            </MudCard>
                        }
                    }
                </div>
                <div class="mb-0">
                    <label for="images">Images</label>
                    <InputFile id="images" OnChange="OnFileChange" multiple class="form-control"></InputFile>
                </div>
                 <div class="mb-0">
                    <label for="imageUrl"> URL</label>
                    <InputText id="imageUrl" @bind-Value="product.Url" class="form-control"></InputText>
                </div>
                <hr />
              
                <div class="header">
                    <div class="col">Sub Category</div>
                    <div class="col">Url</div>
                    <div class="col"></div>
                </div>
                @foreach (var item in product.CategoryConnect)
                {
                    <div class="row">
                        <div class="col">
                            <InputSelect disabled="@item.Deleted" @bind-Value="item.MainCategoryId" class="form-control">
                                @foreach (var type in MainCategoryService.MainCategories)
                                {
                                    <option value="@type.Id.ToString()">@type.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col">
                            <InputText @bind-Value="item.Url" class="form-control" disabled="@item.Deleted"></InputText>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" disabled="@item.Deleted" @onclick="@(()=>RemoveVariant(item.MainCategoryId))">
                                <i class="oi oi-trash"></i>
                            </button>
                        </div>
                    </div>
                }

                <button type="button" class="btn btn-primary" @onclick="AddVariant">
                    <i class="oi oi-plus"></i> Variant Ekle
                </button>
                <hr />

                <hr />
                <div class="mb-0">
                    <label for="description">Description</label>
                    <InputTextArea id="description" @bind-Value="product.Description" class="form-control"></InputTextArea>
                </div>
                <div class="mb-0">
                    <label for="title">Keywords</label>
                    <InputText id="title" @bind-Value="product.Keywords" class="form-control"></InputText>
                </div>
                <div class="form-chech">
                    <InputCheckbox id="featured" @bind-Value="product.Featured" class="form-check-input"></InputCheckbox>
                    <label for="featured" class="form-check-label">Featured</label>
                </div>
                <div class="form-chech">
                    <InputCheckbox id="visible" @bind-Value="product.Visible" class="form-check-input"></InputCheckbox>
                    <label for="visible" class="form-check-label">Visible</label>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary float-end">@btnText</button>
                <br />
                <ValidationSummary></ValidationSummary>
            </EditForm>

            @if (!product.IsNew)
            {
                <button type="button" class="btn btn-danger float-start" @onclick="DeleteProduct">
                    Delete Product
                </button>
            }
        }
    </div>
</section>

@code {

    [Parameter]
    public int Id { get; set; }

    Category product = new Category();
    bool loading = true;
    string btnText = "";
    string msg = "Loading..";

    protected override async Task OnInitializedAsync()
    {
        await MainCategoryService.GetMainCategories();
        await CategoryService.GetAdminCategories();
    }


    protected override async Task OnParametersSetAsync()
    {
        if (Id == 0)
        {
            product = new Category { IsNew = true };
            btnText = "CreateProduct";
        }
        else
        {
            Category dbProduct = (await CategoryService.GetCategory(Id)).Data;
            if (dbProduct == null)
            {
                msg = $"product with id '{Id}' does not exist";
                return;
            }
            product = dbProduct;
            product.Editing = true;
            btnText = "UpdateProduct";
        }
        loading = false;
    }


    void RemoveVariant(int productTypeId)
    {
        var variant = product.CategoryConnect.Find(v => v.MainCategoryId == productTypeId);
        if (variant == null)
        {
            return;
        }
        if (variant.IsNew)
        {
            product.CategoryConnect.Remove(variant);
        }
        else
        {
            variant.Deleted = true;
        }
    }





    void AddVariant()
    {
        product.CategoryConnect.Add(new CategoryConnect { IsNew = true, CategoryId = product.Id });

    }





    async void AddOrUpdateProduct()
    {
        if (product.IsNew)
        {
            var result = await CategoryService.CreateCategory(product);
            NavigationManager.NavigateTo("admin/sub-category");
        }
        else
        {
            product.IsNew = false;
            product = await CategoryService.UpdateCategories(product);
            NavigationManager.NavigateTo($"admin/editsub/{product.Id}", true);
        }
    }

    async void DeleteProduct()  
    {
        bool confirmed = await JSruntime.InvokeAsync<bool>("confirm", $"'{product.Name}' adlı kategoriyi silmek istediğinize emin misiniz?");
        if (confirmed)
        {
            await CategoryService.DeleteCategories(product.Id);
            NavigationManager.NavigateTo("admin/sub-category");
        }

    }

    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        foreach (var image in e.GetMultipleFiles(int.MaxValue))
        {
            var resizedImage = await image.RequestImageFileAsync(format, 200, 200);
            var buffer = new byte[resizedImage.Size];
            await resizedImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            product.Images.Add(new CategoryImages { Data = imageData });
        }
    }

    void RemoveImage(int id)
    {
        var image = product.Images.FirstOrDefault(i => i.Id == id);
        if (image != null)
        {
            product.Images.Remove(image);
        }
    }


    

}
