@page "/admin/kargo-takip-yonetimi"
@inject IShipmentService ShipmentService
@inject NavigationManager NavigationManager
@implements IDisposable
@attribute [Authorize(Roles = "Admin")]




<section class="mt-4">
        <div align="center">
        <button class="btn btn-primary" @onclick="CreateShip">
            <i class="oi oi-plus"></i>Add a new ship
        </button>
<table class="table table-striped w-auto">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Country</th>
            <th>City</th>
            <th>Position</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ShipmentService.Shipments)
        {
        <tr class="table-info">
            <th scope="row">@item.Id</th>
            <td>@item.TrackingNumber</td>
            <td>@item.Sender</td>
            <td>@item.Recipient</td>
            <td>@item.ShippingDate.ToString("dd/MM/yyyy")</td>
            <td>@item.ArrivalDate.ToString("dd/MM/yyyy")</td>
                        <td><a href="/admin/shipments/@item.Id" class="btn btn-success">Güncelle</a></td>
                        <button type="button" class="btn btn-danger float-start" @onclick="()=>DeleteShip(item.Id)">
                            Delete Product
                        </button>
        </tr>
        }
    </tbody>


</table>
</div>
</section>
@code {

    protected override async Task OnInitializedAsync()
    {
        await ShipmentService.GetAdminShip();
        ShipmentService.OnChanged += StateHasChanged;
    }


    public void Dispose()
    {
        ShipmentService.OnChanged -= StateHasChanged;
    }

    void CreateShip()
    {
        NavigationManager.NavigateTo("/admin/shipments");
    }
    //async Task DeleteProduct(int id)
    //{
    //    bool confirmed = await JSruntime.InvokeAsync<bool>("confirm", $"'{ship.Id}' adlı ürünü silmek istediğinize emin misiniz?");
    //    if (confirmed)
    //    {
    //        await ShipmentService.DeleteShip(id);
    //        NavigationManager.NavigateTo("admin/kargo-takip-yonetimi");
    //    }

    //}

    private async Task DeleteShip(int id)
    {
        await ShipmentService.DeleteShip(id);
    }
}
